<div class="block">
  <div class="content half paddingTop0">
    <div class="item">
      <span class="itemTitle">員工</span>
      <div>
        <kendo-dropdownlist [(ngModel)]="formData.memberId" [data]="memberDDL" [valuePrimitive]="true" textField="text" valueField="value">
        </kendo-dropdownlist>
      </div>
    </div>
    <div class="item">
      <span class="itemTitle">年</span>
      <div>
        <kendo-dropdownlist [valuePrimitive]="true" [(ngModel)]="formData.year" [data]="yearDDL">
        </kendo-dropdownlist>
      </div>
    </div>
    <div class="item">
      <span class="itemTitle">月</span>
      <div>
        <kendo-dropdownlist [valuePrimitive]="true" [(ngModel)]="formData.month" [data]="monthDDL">
        </kendo-dropdownlist>
      </div>
    </div>
    <div class="item itemBlock textCenter">
      <button class="lBtn Blue" (click)="search()">查 詢</button>
      <button class="lBtn Gray" (click)="reset()">清 除</button>
    </div>
  </div>

  <div class="content padding5">
    <kendo-grid #grid
    [data]="view | async"
    [pageSize]="gridState.take"
    [skip]="gridState.skip"
    [sort]="gridState.sort"
    [pageable]="_PAGESIZE"
    [sortable]="true"
    [resizable]="true"
    (dataStateChange)="onStateChange($event)"
    [navigable]="true"
    [filter]="filter"
    [filterable]="'menu'"
    (filterChange)="filterChange($event)"
  >
      <app-grid-filter-message></app-grid-filter-message>
      <ng-template kendoGridToolbarTemplate>
          <button class="lBtn Blue" (click)="openAddModal('lg')">新增項目</button>
      </ng-template>
      <kendo-grid-column field="memberName" title="會員名稱" width="200px"></kendo-grid-column>
      <kendo-grid-column field="type" title="假別" width="200px"></kendo-grid-column>
      <kendo-grid-column field="dayoffDate" title="請假日期" width="150px" [format]="'yyyy/MM/dd'"></kendo-grid-column>
      <kendo-grid-column field="startTime" title="開始時間" width="150px" [format]="'HH:mm'"></kendo-grid-column>
      <kendo-grid-column field="endTime" title="結束時間" width="150px" [format]="'HH:mm'"></kendo-grid-column>
    </kendo-grid>
    <div *ngIf="dayoffService.isLoading" class="k-i-loading"></div>
  </div>
</div>
