<div class="block">
  <div class="content half paddingTop0">
    <div class="item">
      <span class="itemTitle">承辦人</span>
      <div>
        <kendo-dropdownlist [valuePrimitive]="true" [(ngModel)]="form.create_user" [data]="businessDDL"
          [defaultItem]="{'text':'請選擇','value':null}" [textField]="'text'" [valueField]="'value'">
        </kendo-dropdownlist>
      </div>
    </div>
    <div class="item"></div>
    <div class="item">
      <span class="itemTitle">項目數量</span>
      <div>
        <input type="number" placeholder="請輸入" [(ngModel)]='form.row'>
      </div>
    </div>
    <div class="item">
      <span class="itemTitle">項目大小</span>
      <div>
        <input type="number" placeholder="請輸入" [(ngModel)]='form.row_size'>
      </div>
    </div>
    <div class="item">
      <span class="itemTitle">工程名稱</span>
      <div>
        <input type="text" placeholder="請輸入" [(ngModel)]='form.project_name'>
      </div>
    </div>
    <div class="item">
      <span class="itemTitle">工程地址</span>
      <div>
        <input type="text" placeholder="請輸入" [(ngModel)]='form.customer_address'>
      </div>
    </div>
    <div class="item">
      <span class="itemTitle">業主名稱</span>
      <div>
        <input type="text" placeholder="請輸入" [(ngModel)]='form.customer_name'>
      </div>
    </div>
    <div class="item">
      <span class="itemTitle">聯絡人</span>
      <div>
        <input type="text" placeholder="請輸入" [(ngModel)]='form.contact_name'>
      </div>
    </div>
    <div class="item">
      <span class="itemTitle">行動電話</span>
      <div>
        <input type="text" placeholder="請輸入" [(ngModel)]='form.mobile'>
      </div>
    </div>
    <div class="item">
      <span class="itemTitle">電話</span>
      <div>
        <input type="text" placeholder="請輸入" [(ngModel)]='form.phone'>
      </div>
    </div>
    <div class="item">
      <span class="itemTitle">統一編號</span>
      <div>
        <input type="text" placeholder="請輸入" [(ngModel)]='form.companyTax'>
      </div>
    </div>
    <div class="item">
      <span class="itemTitle">傳真</span>
      <div>
        <input type="text" placeholder="請輸入" [(ngModel)]='form.fax'>
      </div>
    </div>
    <div class="item">
      <span class="itemTitle">稅額計算方式</span>
      <div>
        <input class="input" type="radio" name="status_AB" id="status_A" (click)="this.form.fax_type = '1'"
          [checked]="this.form.fax_type == '1'">
        <label for="status_A">外加</label>
        <input class="input" type="radio" name="status_AB" id="status_B" (click)="this.form.fax_type = '2'"
          [checked]="this.form.fax_type == '2'">
        <label for="status_B">內含</label>
        <input class="input" type="radio" name="status_AB" id="status_C" (click)="this.form.fax_type = '0'"
          [checked]="this.form.fax_type == '0'">
        <label for="status_C">不需要</label>
      </div>
    </div>
  </div>
</div>
<div class="block">
  <div class="content half paddingBottom0">
    <div class="item itemBlock">
      <button class="lBtn Green" (click)="addQuote()">新增</button>
      <button class="lBtn LightBlue" style="float: right;" (click)="import()">載入</button>
    </div>

    <div>
      <div class="editList plural border-bottom-1d" *ngFor="let quote of quoteList; let i = index">
        <div>
          <div class="content half paddingTop0">
            <div class="item itemBlock marginTop">
              <span class="blockSubTitle">條列項目區塊 - {{i + 1}}</span>
              <div style="width: initial;float: right;">
                <button class="sBtn btnIbonGreen" *ngIf="i !== 0" (click)="sortUp(i)">↥</button>
                <button class="sBtn btnIbonGreen" *ngIf="i !== (quoteList.length-1)" (click)="sortDown(i)">↧</button>
              </div>
            </div>
            <div class="item">
              <span class="itemTitle">品項</span>
              <div>
                <kendo-autocomplete [data]="quote.productList" [(ngModel)]="quote.product" [filterable]="true"
                  (filterChange)="onAutoInputFilter($event, quote)" placeholder="請輸入">
                </kendo-autocomplete>
              </div>
            </div>
            <div class="item">
              <span class="itemTitle">規格</span>
              <div>
                <input type="text" placeholder="請輸入" [(ngModel)]='quote.pattern'>
              </div>
            </div>
            <div class="item">
              <span class="itemTitle">數量</span>
              <div>
                <input type="number" placeholder="請輸入" [(ngModel)]='quote.quantity' (change)="calcAmount(quote)">
              </div>
            </div>
            <div class="item">
              <span class="itemTitle">數量單位</span>
              <div>
                <input type="text" placeholder="請輸入" [(ngModel)]='quote.unit'>
              </div>
            </div>
            <div class="item">
              <span class="itemTitle">單價</span>
              <div>
                <input type="number" placeholder="請輸入" [(ngModel)]='quote.unit_price' (change)="calcAmount(quote)">
              </div>
            </div>
            <div class="item">
              <span class="itemTitle">金額</span>
              <div>
                <input type="number" placeholder="請輸入" [(ngModel)]='quote.amount'>
              </div>
            </div>
            <div class="item">
              <span class="itemTitle">備註</span>
              <div>
                <input type="text" placeholder="請輸入" [(ngModel)]='quote.remark'>
              </div>
            </div>
            <div class="item itemBlock textCenter marginTop">
              <button class="sBtn Red" (click)="removeItem(i)">刪除此區塊</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="item itemBlock textCenter marginTop1">
      <button class="lBtn Green" style="float: left;" *ngIf="quoteList.length>2" (click)="addQuote()">新增</button>
      <button class="lBtn Yellow" (click)="preview()">預覽</button>
      <button class="lBtn Gray" (click)="reset()">重置</button>
      <button class="lBtn Blue" (click)="export()">匯出</button>
    </div>
  </div>
</div>
<ngx-spinner></ngx-spinner>
