<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">收款紀錄</h4>
  <button class="closeBtn" aria-label="Close" (click)="cancel()"><i class="icon-close" aria-hidden="true"></i></button>
</div>
<div class="content modalStyle">
  <div class="item" *ngIf="pageData">
    <span class="itemTitle essential">出貨單單號</span>
    <div>
      <input type="text" id="orderId" [(ngModel)]="pageData.orderId" name="orderId" placeholder="請輸入" [disabled]="true">
    </div>
  </div>
  <div class="item">
    <span class="itemTitle essential">出貨單類型</span>
    <div>
      <input type="text" id="type" [(ngModel)]="pageData.type" name="type" placeholder="請輸入" [disabled]="true">
    </div>
  </div>
  <div class="item">
    <span class="itemTitle essential">出貨單狀態</span>
    <div>
      <input type="text" id="status" [(ngModel)]="pageData.status" name="status" placeholder="請輸入" [disabled]="true">
    </div>
  </div>
  <div class="item">
    <span class="itemTitle essential">客戶</span>
    <div>
      <input type="text" id="customer" [(ngModel)]="pageData.customer" name="customer" placeholder="請輸入" [disabled]="true">
    </div>
  </div>
  <div class="item">
    <span class="itemTitle essential">出貨日期</span>
    <div>
      <input type="text" id="shipDate" [(ngModel)]="pageData.shipDate" name="shipDate" placeholder="請輸入" [disabled]="true">
    </div>
  </div>
  <div class="item">
    <span class="itemTitle essential">出貨金額</span>
    <div>
      <input type="number" id="amount" [(ngModel)]="pageData.amount" name="amount" placeholder="請輸入" [disabled]="true">
    </div>
  </div>
  <div class="item">
    <span class="itemTitle essential">發票金額</span>
    <div>
      <input type="number" id="invoice_amount" [(ngModel)]="pageData.invoice_amount" name="invoice_amount" placeholder="請輸入" [disabled]="true">
    </div>
  </div>
  <div class="item">
    <span class="itemTitle">備註</span>
    <div>
      <textarea type="text" id="moneyPerEach" name="moneyPerEach" [(ngModel)]="pageData.note" placeholder="請輸入" [disabled]="true"></textarea>
    </div>
  </div>
  <div class="item">
    <div>
      <kendo-grid [kendoGridReactiveEditing]="createFormGroup" [kendoGridBinding]="pageData.cashRecords" [pageSize]="10" [pageable]="_PAGESIZE"
         [sortable]="true" [navigable]="true">
        <ng-template kendoGridToolbarTemplate>
          <button kendoGridAddCommand class="modalBtn Blue" style="display: inline-block;" *ngIf="pageData.status != '已收款'">新增項目</button>
          <span style="color: red; font-weight: bolder;margin-left: 2em;">剩餘收款金額:{{getRemainingAmount()}}</span>
        </ng-template>
        <kendo-grid-column field="amount" editor="numeric" title="收款金額"></kendo-grid-column>
        <kendo-grid-column field="method" title="收款方式" [width]="150">
          <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-formGroup="formGroup">
            <kendo-dropdownlist [data]="cashMethodDDL" [formControl]="formGroup.get('method')">
            </kendo-dropdownlist>
          </ng-template>
          <ng-template kendoGridCellTemplate let-dataItem>
            {{ dataItem.method }}
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column
        field="payDate"
        editor="date"
        title="收款日期"
        format="yyyy/MM/dd"
        [width]="250"></kendo-grid-column>
        <kendo-grid-column field="createMember" title="建單人員"></kendo-grid-column>
        <kendo-grid-command-column title="操作" [width]="220"  *ngIf="pageData.status != '已收款'">
          <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem>
            <button kendoGridEditCommand [primary]="true">編輯</button>
            <button kendoGridRemoveCommand *ngIf="isDeleteBtnShow(dataItem.status)">刪除</button>
            <button kendoGridSaveCommand [disabled]="formGroup.invalid">
              {{ isNew ? "新增" : "修改" }}
            </button>
            <button kendoGridCancelCommand>
              {{ isNew ? "取消" : "取消" }}
            </button>
          </ng-template>
        </kendo-grid-command-column>
      </kendo-grid>
    </div>
  </div>
  <div class="modal-footer textCenter">
    <button class="modalBtn Blue" (click)="save()">修改</button>
    <button class="modalBtn Gray" (click)="cancel()">關閉</button>
  </div>
</div>
