<div class="block">
  <div class="content half paddingTop0">
    <div class="item">
      <span class="itemTitle">員工</span>
      <div>
        <kendo-dropdownlist [(ngModel)]="formData.memberId" [data]="memberDDL" [valuePrimitive]="true" textField="text"
          valueField="value">
        </kendo-dropdownlist>
      </div>
    </div>
    <div class="item">
    </div>
    <div class="item">
      <span class="itemTitle">年</span>
      <div>
        <kendo-dropdownlist [valuePrimitive]="true" [(ngModel)]="formData.year" [data]="yearDDL">
        </kendo-dropdownlist>
      </div>
    </div>
    <div class="item">
      <span class="itemTitle">月</span>
      <div>
        <kendo-dropdownlist [valuePrimitive]="true" [(ngModel)]="formData.month" [data]="monthDDL">
        </kendo-dropdownlist>
      </div>
    </div>
    <div class="item itemBlock textCenter">
      <button class="lBtn Blue" (click)="search()">查 詢</button>
      <button class="lBtn Gray" (click)="reset()">清 除</button>
    </div>
  </div>

  <div class="content padding0" *ngIf="pageData">
    <br>
    <h4> 姓名 : {{pageData.memberName}}</h4>
    <h4> 遲到次數 : {{pageData.delayCount}}</h4>

    <h4> 底薪 : {{pageData.basicSalary}}</h4>
    <h4> 勞保 : {{pageData.laborFee}}</h4>
    <h4> 健保 : {{pageData.healthFee}}</h4>
    <h4> 獎金 : {{pageData.welfare}}</h4>
    <h4> 全勤 : {{pageData.fullAttendance}}</h4>
    <h4> 加班餐費 : {{pageData.overtimeBonus}}</h4>
    <h4> 加班費 : {{pageData.overtimeSalary}}</h4>
    <h4> 當月薪月 : {{pageData.monthSalary}}</h4>
    <br>
    <h4> 正常工時 : {{ pageData.regularTotalHR}} 小時</h4>
    <h4> 特休假時數 : {{ pageData.annualDayoffMinsHR}} 小時</h4>
    <h4> 病假時數 : {{ pageData.sickDayoffMinsHR}} 小時</h4>
    <h4> 事假時數 : {{ pageData.personalDayoffMinsHR}} 小時</h4>
    <h4> 加班時數 : {{ pageData.overtimeMinsHR}} 小時</h4>
    <br>
    <h4> 已使用特休 : {{pageData.usedAnnualHR}} 小時</h4>
    <h4> 剩餘特休 : {{pageData.annualHoursHR - pageData.usedAnnualHR}} 小時</h4>
    <h4> 總特休時數 : {{ pageData.annualHoursHR}} 小時</h4>
    <!-- <h4> 正常工時 : {{pageData.regularTotal}} 分鐘   {{ pageData.regularTotalHR}} 小時</h4>
    <h4> 特休假時數 : {{pageData.annualDayoffMins}} 分鐘   {{ pageData.annualDayoffMinsHR}} 小時</h4>
    <h4> 病假時數 : {{pageData.sickDayoffMins}} 分鐘   {{ pageData.sickDayoffMinsHR}} 小時</h4>
    <h4> 事假時數 : {{pageData.personalDayoffMins}} 分鐘   {{ pageData.personalDayoffMinsHR}} 小時</h4>
    <h4> 總特休時數 : {{pageData.annualHours}} 分鐘   {{ pageData.annualHoursHR}} 小時</h4>
    <h4> 加班時數 : {{pageData.overtimeMins}} 分鐘   {{ pageData.overtimeMinsHR}} 小時</h4> -->
    <!-- <h4> 剩餘特休 : {{pageData.usedAnnualMins}}</h4> -->



  </div>
</div>
