@font-face {
	font-family: 'themify';
	src:url('../assets/fonts/themify.eot?-fvbane');
	src:url('../assets/fonts/themify.eot?#iefix-fvbane') format('embedded-opentype'),
		url('../assets/fonts/themify.woff?-fvbane') format('woff'),
		url('../assets/fonts/themify.ttf?-fvbane') format('truetype'),
		url('../assets/fonts/themify.svg?-fvbane#themify') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'themify' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin makeIcon($arg, $val) {
  .icon-#{$arg}:before ,
  .ion-ios-icon-#{$arg}:before ,
  .ion-ios-icon-#{$arg}-outline:before ,
  .ion-md-icon-#{$arg}:before ,
  .ion-md-icon-#{$arg}-outline:before  {
    content: $val;
    font-size: 100%;
  }
}

@include makeIcon(wand, '\e600');
@include makeIcon(volume, '\e601');
@include makeIcon(user, '\e602');
@include makeIcon(unlock, '\e603');
@include makeIcon(unlink, '\e604');
@include makeIcon(trash, '\e605');
@include makeIcon(thought, '\e606');
@include makeIcon(target, '\e607');
@include makeIcon(tag, '\e608');
@include makeIcon(tablet, '\e609');
@include makeIcon(star, '\e60a');
@include makeIcon(spray, '\e60b');
@include makeIcon(signal, '\e60c');
@include makeIcon(shopping-cart, '\e60d');
@include makeIcon(shopping-cart-full, '\e60e');
@include makeIcon(settings, '\e60f');
@include makeIcon(search, '\e610');
@include makeIcon(zoom-in, '\e611');
@include makeIcon(zoom-out, '\e612');
@include makeIcon(cut, '\e613');
@include makeIcon(ruler, '\e614');
@include makeIcon(ruler-pencil, '\e615');
@include makeIcon(ruler-alt, '\e616');
@include makeIcon(bookmark, '\e617');
@include makeIcon(bookmark-alt, '\e618');
@include makeIcon(reload, '\e619');
@include makeIcon(plus, '\e61a');
@include makeIcon(pin, '\e61b');
@include makeIcon(pencil, '\e61c');
@include makeIcon(pencil-alt, '\e61d');
@include makeIcon(paint-roller, '\e61e');
@include makeIcon(paint-bucket, '\e61f');
@include makeIcon(na, '\e620');
@include makeIcon(mobile, '\e621');
@include makeIcon(minus, '\e622');
@include makeIcon(medall, '\e623');
@include makeIcon(medall-alt, '\e624');
@include makeIcon(marker, '\e625');
@include makeIcon(marker-alt, '\e626');
@include makeIcon(arrow-up, '\e627');
@include makeIcon(arrow-right, '\e628');
@include makeIcon(arrow-left, '\e629');
@include makeIcon(arrow-down, '\e62a');
@include makeIcon(lock, '\e62b');
@include makeIcon(location-arrow, '\e62c');
@include makeIcon(link, '\e62d');
@include makeIcon(layout, '\e62e');
@include makeIcon(layers, '\e62f');
@include makeIcon(layers-alt, '\e630');
@include makeIcon(key, '\e631');
@include makeIcon(import, '\e632');
@include makeIcon(image, '\e633');
@include makeIcon(heart, '\e634');
@include makeIcon(heart-broken, '\e635');
@include makeIcon(hand-stop, '\e636');
@include makeIcon(hand-open, '\e637');
@include makeIcon(hand-drag, '\e638');
@include makeIcon(folder, '\e639');
@include makeIcon(flag, '\e63a');
@include makeIcon(flag-alt, '\e63b');
@include makeIcon(flag-alt-2, '\e63c');
@include makeIcon(eye, '\e63d');
@include makeIcon(export, '\e63e');
@include makeIcon(exchange-vertical, '\e63f');
@include makeIcon(desktop, '\e640');
@include makeIcon(cup, '\e641');
@include makeIcon(crown, '\e642');
@include makeIcon(comments, '\e643');
@include makeIcon(comment, '\e644');
@include makeIcon(comment-alt, '\e645');
@include makeIcon(close, '\e646');
@include makeIcon(clip, '\e647');
@include makeIcon(angle-up, '\e648');
@include makeIcon(angle-right, '\e649');
@include makeIcon(angle-left, '\e64a');
@include makeIcon(angle-down, '\e64b');
@include makeIcon(check, '\e64c');
@include makeIcon(check-box, '\e64d');
@include makeIcon(camera, '\e64e');
@include makeIcon(announcement, '\e64f');
@include makeIcon(brush, '\e650');
@include makeIcon(briefcase, '\e651');
@include makeIcon(bolt, '\e652');
@include makeIcon(bolt-alt, '\e653');
@include makeIcon(blackboard, '\e654');
@include makeIcon(bag, '\e655');
@include makeIcon(move, '\e656');
@include makeIcon(arrows-vertical, '\e657');
@include makeIcon(arrows-horizontal, '\e658');
@include makeIcon(fullscreen, '\e659');
@include makeIcon(arrow-top-right, '\e65a');
@include makeIcon(arrow-top-left, '\e65b');
@include makeIcon(arrow-circle-up, '\e65c');
@include makeIcon(arrow-circle-right, '\e65d');
@include makeIcon(arrow-circle-left, '\e65e');
@include makeIcon(arrow-circle-down, '\e65f');
@include makeIcon(angle-double-up, '\e660');
@include makeIcon(angle-double-right, '\e661');
@include makeIcon(angle-double-left, '\e662');
@include makeIcon(angle-double-down, '\e663');
@include makeIcon(zip, '\e664');
@include makeIcon(world, '\e665');
@include makeIcon(wheelchair, '\e666');
@include makeIcon(view-list, '\e667');
@include makeIcon(view-list-alt, '\e668');
@include makeIcon(view-grid, '\e669');
@include makeIcon(uppercase, '\e66a');
@include makeIcon(upload, '\e66b');
@include makeIcon(underline, '\e66c');
@include makeIcon(truck, '\e66d');
@include makeIcon(timer, '\e66e');
@include makeIcon(ticket, '\e66f');
@include makeIcon(thumb-up, '\e670');
@include makeIcon(thumb-down, '\e671');
@include makeIcon(text, '\e672');
@include makeIcon(stats-up, '\e673');
@include makeIcon(stats-down, '\e674');
@include makeIcon(split-v, '\e675');
@include makeIcon(split-h, '\e676');
@include makeIcon(smallcap, '\e677');
@include makeIcon(shine, '\e678');
@include makeIcon(shift-right, '\e679');
@include makeIcon(shift-left, '\e67a');
@include makeIcon(shield, '\e67b');
@include makeIcon(notepad, '\e67c');
@include makeIcon(server, '\e67d');
@include makeIcon(quote-right, '\e67e');
@include makeIcon(quote-left, '\e67f');
@include makeIcon(pulse, '\e680');
@include makeIcon(printer, '\e681');
@include makeIcon(power-off, '\e682');
@include makeIcon(plug, '\e683');
@include makeIcon(pie-chart, '\e684');
@include makeIcon(paragraph, '\e685');
@include makeIcon(panel, '\e686');
@include makeIcon(package, '\e687');
@include makeIcon(music, '\e688');
@include makeIcon(music-alt, '\e689');
@include makeIcon(mouse, '\e68a');
@include makeIcon(mouse-alt, '\e68b');
@include makeIcon(money, '\e68c');
@include makeIcon(microphone, '\e68d');
@include makeIcon(menu, '\e68e');
@include makeIcon(menu-alt, '\e68f');
@include makeIcon(map, '\e690');
@include makeIcon(map-alt, '\e691');
@include makeIcon(loop, '\e692');
@include makeIcon(location-pin, '\e693');
@include makeIcon(list, '\e694');
@include makeIcon(light-bulb, '\e695');
@include makeIcon(Italic, '\e696');
@include makeIcon(info, '\e697');
@include makeIcon(infinite, '\e698');
@include makeIcon(id-badge, '\e699');
@include makeIcon(hummer, '\e69a');
@include makeIcon(home, '\e69b');
@include makeIcon(help, '\e69c');
@include makeIcon(headphone, '\e69d');
@include makeIcon(harddrives, '\e69e');
@include makeIcon(harddrive, '\e69f');
@include makeIcon(gift, '\e6a0');
@include makeIcon(game, '\e6a1');
@include makeIcon(filter, '\e6a2');
@include makeIcon(files, '\e6a3');
@include makeIcon(file, '\e6a4');
@include makeIcon(eraser, '\e6a5');
@include makeIcon(envelope, '\e6a6');
@include makeIcon(download, '\e6a7');
@include makeIcon(direction, '\e6a8');
@include makeIcon(direction-alt, '\e6a9');
@include makeIcon(dashboard, '\e6aa');
@include makeIcon(control-stop, '\e6ab');
@include makeIcon(control-shuffle, '\e6ac');
@include makeIcon(control-play, '\e6ad');
@include makeIcon(control-pause, '\e6ae');
@include makeIcon(control-forward, '\e6af');
@include makeIcon(control-backward, '\e6b0');
@include makeIcon(cloud, '\e6b1');
@include makeIcon(cloud-up, '\e6b2');
@include makeIcon(cloud-down, '\e6b3');
@include makeIcon(clipboard, '\e6b4');
@include makeIcon(car, '\e6b5');
@include makeIcon(calendar, '\e6b6');
@include makeIcon(book, '\e6b7');
@include makeIcon(bell, '\e6b8');
@include makeIcon(basketball, '\e6b9');
@include makeIcon(bar-chart, '\e6ba');
@include makeIcon(bar-chart-alt, '\e6bb');
@include makeIcon(back-right, '\e6bc');
@include makeIcon(back-left, '\e6bd');
@include makeIcon(arrows-corner, '\e6be');
@include makeIcon(archive, '\e6bf');
@include makeIcon(anchor, '\e6c0');
@include makeIcon(align-right, '\e6c1');
@include makeIcon(align-left, '\e6c2');
@include makeIcon(align-justify, '\e6c3');
@include makeIcon(align-center, '\e6c4');
@include makeIcon(alert, '\e6c5');
@include makeIcon(alarm-clock, '\e6c6');
@include makeIcon(agenda, '\e6c7');
@include makeIcon(write, '\e6c8');
@include makeIcon(window, '\e6c9');
@include makeIcon(widgetized, '\e6ca');
@include makeIcon(widget, '\e6cb');
@include makeIcon(widget-alt, '\e6cc');
@include makeIcon(wallet, '\e6cd');
@include makeIcon(video-clapper, '\e6ce');
@include makeIcon(video-camera, '\e6cf');
@include makeIcon(vector, '\e6d0');
@include makeIcon(themify-logo, '\e6d1');
@include makeIcon(themify-favicon, '\e6d2');
@include makeIcon(themify-favicon-alt, '\e6d3');
@include makeIcon(support, '\e6d4');
@include makeIcon(stamp, '\e6d5');
@include makeIcon(split-v-alt, '\e6d6');
@include makeIcon(slice, '\e6d7');
@include makeIcon(shortcode, '\e6d8');
@include makeIcon(shift-right-alt, '\e6d9');
@include makeIcon(shift-left-alt, '\e6da');
@include makeIcon(ruler-alt-2, '\e6db');
@include makeIcon(receipt, '\e6dc');
@include makeIcon(pin2, '\e6dd');
@include makeIcon(pin-alt, '\e6de');
@include makeIcon(pencil-alt2, '\e6df');
@include makeIcon(palette, '\e6e0');
@include makeIcon(more, '\e6e1');
@include makeIcon(more-alt, '\e6e2');
@include makeIcon(microphone-alt, '\e6e3');
@include makeIcon(magnet, '\e6e4');
@include makeIcon(line-double, '\e6e5');
@include makeIcon(line-dotted, '\e6e6');
@include makeIcon(line-dashed, '\e6e7');
@include makeIcon(layout-width-full, '\e6e8');
@include makeIcon(layout-width-default, '\e6e9');
@include makeIcon(layout-width-default-alt, '\e6ea');
@include makeIcon(layout-tab, '\e6eb');
@include makeIcon(layout-tab-window, '\e6ec');
@include makeIcon(layout-tab-v, '\e6ed');
@include makeIcon(layout-tab-min, '\e6ee');
@include makeIcon(layout-slider, '\e6ef');
@include makeIcon(layout-slider-alt, '\e6f0');
@include makeIcon(layout-sidebar-right, '\e6f1');
@include makeIcon(layout-sidebar-none, '\e6f2');
@include makeIcon(layout-sidebar-left, '\e6f3');
@include makeIcon(layout-placeholder, '\e6f4');
@include makeIcon(layout-menu, '\e6f5');
@include makeIcon(layout-menu-v, '\e6f6');
@include makeIcon(layout-menu-separated, '\e6f7');
@include makeIcon(layout-menu-full, '\e6f8');
@include makeIcon(layout-media-right-alt, '\e6f9');
@include makeIcon(layout-media-right, '\e6fa');
@include makeIcon(layout-media-overlay, '\e6fb');
@include makeIcon(layout-media-overlay-alt, '\e6fc');
@include makeIcon(layout-media-overlay-alt-2, '\e6fd');
@include makeIcon(layout-media-left-alt, '\e6fe');
@include makeIcon(layout-media-left, '\e6ff');
@include makeIcon(layout-media-center-alt, '\e700');
@include makeIcon(layout-media-center, '\e701');
@include makeIcon(layout-list-thumb, '\e702');
@include makeIcon(layout-list-thumb-alt, '\e703');
@include makeIcon(layout-list-post, '\e704');
@include makeIcon(layout-list-large-image, '\e705');
@include makeIcon(layout-line-solid, '\e706');
@include makeIcon(layout-grid4, '\e707');
@include makeIcon(layout-grid3, '\e708');
@include makeIcon(layout-grid2, '\e709');
@include makeIcon(layout-grid2-thumb, '\e70a');
@include makeIcon(layout-cta-right, '\e70b');
@include makeIcon(layout-cta-left, '\e70c');
@include makeIcon(layout-cta-center, '\e70d');
@include makeIcon(layout-cta-btn-right, '\e70e');
@include makeIcon(layout-cta-btn-left, '\e70f');
@include makeIcon(layout-column4, '\e710');
@include makeIcon(layout-column3, '\e711');
@include makeIcon(layout-column2, '\e712');
@include makeIcon(layout-accordion-separated, '\e713');
@include makeIcon(layout-accordion-merged, '\e714');
@include makeIcon(layout-accordion-list, '\e715');
@include makeIcon(ink-pen, '\e716');
@include makeIcon(info-alt, '\e717');
@include makeIcon(help-alt, '\e718');
@include makeIcon(headphone-alt, '\e719');
@include makeIcon(hand-point-up, '\e71a');
@include makeIcon(hand-point-right, '\e71b');
@include makeIcon(hand-point-left, '\e71c');
@include makeIcon(hand-point-down, '\e71d');
@include makeIcon(gallery, '\e71e');
@include makeIcon(face-smile, '\e71f');
@include makeIcon(face-sad, '\e720');
@include makeIcon(credit-card, '\e721');
@include makeIcon(control-skip-forward, '\e722');
@include makeIcon(control-skip-backward, '\e723');
@include makeIcon(control-record, '\e724');
@include makeIcon(control-eject, '\e725');
@include makeIcon(comments-smiley, '\e726');
@include makeIcon(brush-alt, '\e727');
@include makeIcon(youtube, '\e728');
@include makeIcon(vimeo, '\e729');
@include makeIcon(twitter, '\e72a');
@include makeIcon(time, '\e72b');
@include makeIcon(tumblr, '\e72c');
@include makeIcon(skype, '\e72d');
@include makeIcon(share, '\e72e');
@include makeIcon(share-alt, '\e72f');
@include makeIcon(rocket, '\e730');
@include makeIcon(pinterest, '\e731');
@include makeIcon(new-window, '\e732');
@include makeIcon(microsoft, '\e733');
@include makeIcon(list-ol, '\e734');
@include makeIcon(linkedin, '\e735');
@include makeIcon(layout-sidebar-2, '\e736');
@include makeIcon(layout-grid4-alt, '\e737');
@include makeIcon(layout-grid3-alt, '\e738');
@include makeIcon(layout-grid2-alt, '\e739');
@include makeIcon(layout-column4-alt, '\e73a');
@include makeIcon(layout-column3-alt, '\e73b');
@include makeIcon(layout-column2-alt, '\e73c');
@include makeIcon(instagram, '\e73d');
@include makeIcon(google, '\e73e');
@include makeIcon(github, '\e73f');
@include makeIcon(flickr, '\e740');
@include makeIcon(facebook, '\e741');
@include makeIcon(dropbox, '\e742');
@include makeIcon(dribbble, '\e743');
@include makeIcon(apple, '\e744');
@include makeIcon(android, '\e745');
@include makeIcon(save, '\e746');
@include makeIcon(save-alt, '\e747');
@include makeIcon(yahoo, '\e748');
@include makeIcon(wordpress, '\e749');
@include makeIcon(vimeo-alt, '\e74a');
@include makeIcon(twitter-alt, '\e74b');
@include makeIcon(tumblr-alt, '\e74c');
@include makeIcon(trello, '\e74d');
@include makeIcon(stack-overflow, '\e74e');
@include makeIcon(soundcloud, '\e74f');
@include makeIcon(sharethis, '\e750');
@include makeIcon(sharethis-alt, '\e751');
@include makeIcon(reddit, '\e752');
@include makeIcon(pinterest-alt, '\e753');
@include makeIcon(microsoft-alt, '\e754');
@include makeIcon(linux, '\e755');
@include makeIcon(jsfiddle, '\e756');
@include makeIcon(joomla, '\e757');
@include makeIcon(html5, '\e758');
@include makeIcon(flickr-alt, '\e759');
@include makeIcon(email, '\e75a');
@include makeIcon(drupal, '\e75b');
@include makeIcon(dropbox-alt, '\e75c');
@include makeIcon(css3, '\e75d');
@include makeIcon(rss, '\e75e');
@include makeIcon(rss-alt, '\e75f');
