<div class="block">
  <div class="content half paddingTop0">
    <div class="item">
      <span class="itemTitle">員工</span>
      <div>
        <kendo-dropdownlist [(ngModel)]="formData.memberId" [data]="memberDDL" [valuePrimitive]="true" textField="text" valueField="value">
        </kendo-dropdownlist>
      </div>
    </div>
    <div class="item">
      <span class="itemTitle">是否切換小時制</span>
      <div>
        <input class="input" type="checkbox" id="hourSwitch" [(ngModel)]="hourSwitch">
        <label class="input" for="hourSwitch"></label>
      </div>
    </div>
    <div class="item">
      <span class="itemTitle">年</span>
      <div>
        <kendo-dropdownlist [valuePrimitive]="true" [(ngModel)]="formData.year" [data]="yearDDL">
        </kendo-dropdownlist>
      </div>
    </div>
    <div class="item">
      <span class="itemTitle">月</span>
      <div>
        <kendo-dropdownlist [valuePrimitive]="true" [(ngModel)]="formData.month" [data]="monthDDL">
        </kendo-dropdownlist>
      </div>
    </div>
    <div class="item itemBlock textCenter">
      <button class="lBtn Blue" (click)="search()">查 詢</button>
      <button class="lBtn Gray" (click)="reset()">清 除</button>
    </div>
  </div>

  <div class="content padding0">
    <kendo-grid #grid
    [data]="view | async"
    [pageSize]="gridState.take"
    [skip]="gridState.skip"
    [sort]="gridState.sort"
    [pageable]="_PAGESIZE"
    [sortable]="true"
    [resizable]="true"
    (dataStateChange)="onStateChange($event)"
    [navigable]="true"
    [filter]="filter"
    [filterable]="'menu'"
    (filterChange)="filterChange($event)"
  >
      <app-grid-filter-message></app-grid-filter-message>
      <kendo-grid-column field="memberName" title="名稱" width="200px"></kendo-grid-column>
      <kendo-grid-column field="punchDate" title="打卡日期" width="150px" [format]="'yyyy/MM/dd'"></kendo-grid-column>
      <kendo-grid-column field="onWork" title="上班時間" width="150px"></kendo-grid-column>
      <kendo-grid-column field="offWrok" title="下班時間" width="100px"></kendo-grid-column>
      <kendo-grid-column field="regularTotal" title="正常工時" width="200px"></kendo-grid-column>
      <kendo-grid-column field="over33Total" title="加班工時(1.33)" width="100px"></kendo-grid-column>
      <kendo-grid-column field="over66Total" title="加班工時(1.66)" width="100px"></kendo-grid-column>
    </kendo-grid>
    <!-- <div *ngIf="punchService.isLoading" class="k-i-loading"></div> -->
  </div>
</div>
